<div style="max-width:760px;margin:auto;padding:16px;display:grid;gap:16px;">
  <div style="display:flex;align-items:center;gap:16px;margin-bottom:20px;">
    <img src="assets/images/logo.png" alt="PromptPay QR Generator" style="height: 60px;">
    <h2 style="margin: 0; color: #333">PromptPay QR</h2>
  </div>

  <div style="display:grid;gap:8px;">
    <label>
      <input type="radio" value="mobile" name="ptype" [checked]="form.value.proxyType==='mobile'" (change)="form.patchValue({proxyType:'mobile'})"> หมายเลขโทรศัพท์มือถือ
    </label>
    <label>
      <input type="radio" value="citizenId" name="ptype" [checked]="form.value.proxyType==='citizenId'" (change)="form.patchValue({proxyType:'citizenId'})"> เลขบัตรประชาชน (13
      หลัก)
    </label>
  </div>

  <div *ngIf="form.value.proxyType==='mobile'" style="display:grid;gap:6px;">
    <label>
      <!-- หมายเลขโทรศัพท์มือถือ -->
      <input type="text" [formControl]="form.controls.mobile" placeholder="0XXXXXXXXX">
    </label>
    <!-- <small>ระบบจะเข้ารหัสเป็น <code>0066</code> + หมายเลข (ตัดเลข 0 นำหน้า)</small> -->
  </div>

  <div *ngIf="form.value.proxyType==='citizenId'" style="display:grid;gap:6px;">
    <label>
      <!-- เลขบัตรประชาชน (13 หลัก) -->
      <input type="text" [formControl]="form.controls.citizenId" placeholder="1234567890123" maxlength="13" style="width:200px;">
    </label>
    <!-- <small>เข้ารหัสเป็นตัวเลข 13 หลักตรง ๆ (ไม่เติม <code>0066</code>)</small> -->
  </div>

  <div *ngIf="errorMsg" style="color:#b00020;">{{ errorMsg }}</div>


  <label style="display:grid;gap:6px;">
    จำนวนเงิน (บาท)
    <input type="number" step="0.01" [formControl]="form.controls.amount" placeholder="0.00" style="width:200px;">
  </label>

  <!-- <div style="display:grid;gap:8px;">
    <strong>EMV Payload</strong>
    <code style="white-space:pre-wrap;word-break:break-all;background:#f5f5f5;padding:8px;border-radius:6px;">
      {{ payload || '(กรอกข้อมูลให้ถูกต้องเพื่อสร้าง Payload)' }}
    </code>
    <button (click)="copyPayload()" [disabled]="!payload">คัดลอก Payload</button>
  </div> -->

  <div *ngIf="payload" style="display:flex;justify-content: center; align-items:center;flex-wrap:wrap;margin-top: 30px;">
    <div>
      <!-- <strong>QR Code</strong> -->
      <qrcode [qrdata]="payload" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
    </div>
    <!-- <div>
      <ul>
        <li>Dynamic QR (Tag <code>01=12</code>) ใส่จำนวนเงินแน่นอน</li>
        <li>Tag <code>29</code> = PromptPay AID + Proxy (มือถือ/บัตรประชาชน)</li>
        <li>THB = <code>53:764</code>, Country = <code>58:TH</code></li>
      </ul>
    </div> -->
    <!-- <div>
      <ul>
        <li *ngIf="form.value.proxyType==='mobile'">{{form.controls.mobile.value}}</li>
        <li *ngIf="form.value.proxyType==='citizenId'">{{form.controls.citizenId.value}}</li>
        <li>{{form.controls.amount.value}} บาท</li>
      </ul>
    </div> -->
  </div>
</div>